{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Changuito</title>
    <link rel="stylesheet" href=" {% static 'styles/description.css' %} ">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
        </script>

</head>
<body>

    <div class="container">
        <div class="imgBx">
            <img src="{% static 'img/chiama2.png' %}" alt="aguacatito">
        </div>
        <div class="details">
            <div class="content">
                <h2>Chihuahua <br>
                    <span>peluche</span>
                </h2>
                <p>
                    Lindo Juguete de Peluche para Perro, Juguete de Felpa Suave para Regalo de cumpleaños, Color Amarillo                    <ul>
                        <li>
                            Bonito diseño de perro, muy bonito, a tus hijos les gustará.                         
                        </li>
                    </ul>
                </p>
                <h3> $75.00</h3>
                <button class="agregar">agregar</button>
                <a href=" {% url 'items' %} " class="seguir">seguir buscando</a>
                <a></a>
            </div>
        </div>
    </div>
</body>
</html>