{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Changuito</title>
    <link rel="stylesheet" href=" {% static 'styles/description.css' %} ">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
        </script>

</head>
<body>

    <div class="container">
        <div class="imgBx">
            <img src="{% static 'img/cone.png' %}" alt="aguacatito">
        </div>
        <div class="details">
            <div class="content">
                <h2>Conejita <br>
                    <span>peluche</span>
                </h2>
                <p>
                    ADORABLE CONEJITO DE PELUCHE: El conejito de madriguera de peluche, tiene largas orejas caídas con piel afelpada extra-suave y rasgos de apariencia realista.                        
                        <li>
                            REGALO PARA NIÑOS DE 3 AÑOS EN ADELANTE: Este animal de peluche es un regalo encantador y adorable para niños con edades de 3 años en adelante. Agrega el Tigre de peluche de para completar la experiencia de juego interactivo y darles a los niños otra opción interesante de diversión sin necesidad de pantallas.                        </li>
                    </ul>
                </p>
                <h3> $230.00</h3>
                <button class="agregar">agregar</button>
                <a href=" {% url 'items' %} " class="seguir">seguir buscando</a>
                <a></a>
            </div>
        </div>
    </div>
</body>
</html>