{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="{% static 'styles/index.css' %}">
  <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">

  <title>Más productos</title>
</head>
<body>
    <section>
        <header>
            <input type="checkbox" name="" id="toggler">
            <label for="toggler" class="fas fa-bars"></label>
            <a href="{% url 'index' %}" class="logo">Esponjosos<span>.</span></a>
            <nav class="navbar">
                <a href="{% url 'index' %}">Inicio</a>
                <a href="{% url 'items' %}">Más productos</a>
                <!-- <a href="#products">Tendencia</a> -->
                <a href="{% url 'bolsa' %}">Bolsa de regalo</a>
                <!-- <a href="#contact">Contacto</a> -->
            </nav>
            <div class="icons">
                <a href="" class="fas fa-heart"></a>
                <a href="" class="cart fas fa-shopping-cart"><span>0</span></a>
                <a href="{% url 'form' %} " class="fas fa-user"></a>
            </div>
        </header>        
    </section>

  <section class="products" id="products">
    <h1 class="heading"> más <span>Productos</span> </h1>
    <div class="container box-container" id="lista-productos">
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="{% static 'img/chiro1.png' %}" alt="My image">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" id="items" class="cart-btn">agregar</a>
                    <a href="https://buy.stripe.com/test_bIY4i16jw6AngJqcMW" target="_blank">Comprar</a>
                </div>
            </div>
            <div class="content">
                <h3>Chihuahua</h3>
                <div class="price"> $90.00 <span>$100.00</span> </div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-15%</span>
            <div class="image">
                <img src="{% static 'img/dinonaranja1.1.png' %}" alt="My image">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">agregar</a>
                    <a href="https://buy.stripe.com/test_28o15PcHUbUHal214f" target="_blank">Comprar</a>
                </div>
            </div>
            <div class="content">
                <h3>dinosaurio naranja</h3>
                <div class="price"> $127.00 <span>$150.00</span> </div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-15%</span>
            <div class="image">
                <img src="{% static 'img/dinoniññoverde1.1.png' %}" alt="My image">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">agregar</a>
                    <a href="https://buy.stripe.com/test_dR63dX23g5wj9gYcMY" target="_blank">Comprar</a>
                </div>
            </div>
            <div class="content">
                <h3>Dinosaurio verde</h3>
                <div class="price"> $127.00 <span>$150.00</span> </div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-20%</span>
            <div class="image">
                <img src="{% static 'img/dinoverde1.png' %}" alt="My image">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">agregar</a>
                    <a href="https://buy.stripe.com/test_14k01L37k6An64MdR3" target="_blank">Comprar</a>
                </div>
            </div>
            <div class="content">
                <h3>Dinosaurio bebe</h3>
                <div class="price"> $144.00 <span>$180.00</span> </div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="{% static 'img/gatogrande.png' %}" alt="My image">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">agregar</a>
                    <a href="https://buy.stripe.com/test_6oE8yh7nA3ob9gY28m" target="_blank" >Comprar</a>
                </div>
            </div>
            <div class="content">
                <h3>Perrito bebe</h3>
                <div class="price"> $140.00 <span>$150.00</span> </div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="{% static 'img/kate1.1.png' %}" alt="My image">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">Agregar</a>
                    <a href="https://buy.stripe.com/test_28o15PcHU5wj8cU5kz" target="_blank">Comprar</a>
                </div>
            </div>
            <div class="content">
                <h3>Aguacate bebe</h3>
                <div class="price"> $90.00 <span>$100.00</span> </div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-20%</span>
            <div class="image">
                <img src="{% static 'img/dino2.1.png' %}" alt="My image">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">agregar</a>
                    <a href="https://buy.stripe.com/test_9AQ8yhcHU6Anal2dR6" target="_blank">Comprar</a>
                </div>
            </div>
            <div class="content">
                <h3>Dinosaurio rex morado</h3>
                <div class="price"> $160.00 <span>$180.00</span> </div>
            </div>
        </div>
        <div class="box">
            <span class="discount">-20%</span>
            <div class="image">
                <img src="{% static 'img/leon1.png' %}" alt="My image">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">agregar</a>
                    <a href="https://buy.stripe.com/test_bIY3dXazM3obbp66oF" target="_blank">Comprar</a>
                </div>
            </div>
            <div class="content">
                <h3>Leon </h3>
                <div class="price"> $130.00 <span>$150.00</span> </div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="{% static 'img/sabino.png' %}" alt="My image">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">agregar</a>
                    <a href="https://buy.stripe.com/test_5kAeWF4bo9Mz3WEdR8" target="_blank">Comprar</a>
                </div>
            </div>
            <div class="content">
                <h3>Perrito cafecito</h3>
                <div class="price"> $150.00 <span>$160.00</span> </div>
            </div>
        </div>

    </div>

</section>

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Cliente</h3>
            <a href=" {% static 'pdf/Aviso de privacidad.pdf' %}" target="_blank">Aviso de privacidad</a>
            <a href="{% static 'pdf/Términos y condiciones.pdf' %}" target="_blank">Terminos y Condiciones</a>
        </div>

        <div class="box">
            <h3>Cuenta</h3>
            <a href="#">Mi cuenta</a>
            <a href="#">Mi orden</a>
            <a href="#">Favoritos</a>
        </div>

        <div class="box">
            <h3>Contactanos</h3>
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
            <a href="#">TikTok</a>
            <a href="#">twitter</a>
        </div>

    </div>

    <div class="credit"><span> © 2022-2022, Esponjosos.com, SC</span></div>

</section>



</body>
</html>