@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*,
*::after{
margin:0;
padding:0;
box-sizing: border-box;
}
:root{
    --after-content:'2';
}

body{
    width:100vw;
    font-family: 'Lato', sans-serif;
}
header{
    position: fixed;
    left:0;
    right:0;
    top:0;
    height:12vh;
    background-color: brown;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1{
    color: #fff;
}
